<div class="grid-container grid-container-padded">
  <div class="grid-x grid-margin-x grid-margin-y align-justify">

    {% block sidebar__footer %}
      {% include ['layout/sidebar--footer.twig'] %}
    {% endblock %}

    <div class="cell shrink align-middle">
      <div class="grid-x grid-margin-x grid-margin-y">
        {% for office in options.offices %}
          <div class="cell shrink align-middle">
            <div class="l-footer__office">
              {% if office.office__title %}
                <h5>{{office.office__title}}</h5>
              {% endif %}
              <ul class="no-bullet">
                {% if office.office__address %}
                  {% set query = (office.office__title ~' '~ office.office__address)|striptags|wptrim %}
                  <li><a href="https://maps.google.com/?q={{query|url_encode}}" target="_blank">{{office.office__address|wpautop}}</a></li>
                {% endif %}
                {% if office.office__telephone %}
                  <li><a href="tel:{{office.office__telephone|tel}}">{{office.office__telephone|format_phone}}</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="cell shrink">
      {# {% include 'forms/form--horizontal.twig' with { form: gform(1), form_title: __('Sign up for our newsletter', '<example-project>') } %} #}

      <ul class="menu l-footer__social-menu">
        {% for network in ['facebook', 'twitter', 'linkedin', 'instagram'] %}
          {% if options[network] %}
            <li><a href="{{options[network]}}"><i class="fa fa-{{network}} fa-2x"></i></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
