{#
 # Template for outputing Gravityforms through wp-gravityforms-timber.
 #
 # @example
 # {% include 'forms/form.twig' with {
 #   form: gform(1),
 #   form_title: __('Sign up for our newsletter', '<example-project>')
 # } %}
 #}
{% import 'macros/form.twig' as helper %}

{% set title = form_title is defined ? form_title : form.title %}
{% set description = form_description is defined ? form_description : form.description %}

{% block form__wrapper %}
  <form
    {{helper.attributes(form)}}
    action="{{site.url}}/wp-json/gf/v2/forms/{{form.id}}/submissions"
    data-ajax
  >
    {% block form__header %}
      {% if title %}
        <h5>{{title}}</h5>
      {% endif %}
      {% if description %}
        <p>{{description}}</p>
      {% endif %}
    {% endblock %}

    {% block form__content %}
      <div class="form__messages alert callout is-hidden"></div>

      <div class="grid-x grid-margin-x">
        {% for field in form.fields %}
          {% set label_left_align = (field.labelPlacement == 'left_label') or (form.labelPlacement == 'left_label') %}
          <div class="cell form__element {{field.cssClass}} form__element--{{label_left_align ? 'horizontal' : 'vertical'}}">
            <div class="grid-x grid-margin-x">
              <div class="cell form__label {{label_left_align ? 'small-3'}}">
                {% block form__field_label helper.label(field) %}
              </div>
              <div class="cell form__field auto">
                {% block form__field_input helper.gform_field(field) %}

                {% block form__field_description %}
                  {% if field.description %}
                    <p class="help-text">{{field.description}}</p>
                  {% endif %}
                {% endblock %}
              </div>
            </div>
          </div>
        {% endfor %}

        {% block form__actions %}
          <div class="cell">
            <div class="grid-x grid-margin-x">
              {% if form.labelPlacement == 'left_label' %}<div class="cell small-3"></div>{% endif %}
              <div class="cell auto">
                {% block form__submit helper.submit(form.button.text) %}
              </div>
            </div>
          </div>
        {% endblock %}
      <div>
    {% endblock %}

    {% block form__footer %}
      <input type="hidden" name="source_url" value="{{current_url()}}">
      <input type="hidden" name="form_id" value="{{form.id}}">
    {% endblock %}
  </form>
{% endblock %}

{% block form__confirmations %}
  {% for confirmation in form.confirmations %}
    <script>
      window.formConfirmation = window.formConfirmation || {};
      window.formConfirmation['form--{{form.id}}'] = {
        'type': '{{ confirmation.type }}',
        'html': '<div class="callout success">{{ confirmation.message|e('js') }}</div>',
        'redirect': '{{confirmation.type == 'page' ? wpml_url(confirmation.page) : confirmation.url}}'
      };
    </script>
  {% endfor %}
{% endblock %}
