{%
  set page_classes = page_classes ?: [
    'page',
    'page--password_protected',
    'page--'~template_type,
    'page--type-'~post.post_type,
    'post',
    'grid-container',
    'grid-container-padded',
  ]
%}
<article class="{{page_classes|join(' ')}}" id="post-{{post.ID}}">
  <div class="grid-x grid-margin-x grid-margin-y align-center">
    <div class="page__content-wrapper cell large-9">

      {# Heading #}
      {% block page__header %}
        <div class="page__title-wrapper">
          <h1 class="page__title">{% block page__title __('Sign in', '<example-project>') %}</h1>
        </div>
      {% endblock %}

      {# Content #}
      {% block page__content %}
        <form class="password__form" action="{{site.siteurl}}/wp-login.php?action=postpass" method="post">
          <input name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="{{__('Password', '<example-project>')}}" size="20" maxlength="20" />
          <input class="password__submit button button--primary" type="submit" name="Submit" value="{{__('Sign in', '<example-project>')}}" />
        </form>
      {% endblock %}

    </div>
  </div>
</article>
