<form method="get" id="search-form" action="{{site.url}}/" role="search">
  <div class="input-group">
    <label for="s" class="show-for-sr">{{__('Search', '<example-project>')}}</label>
    <input type="text" class="input-group-field" name="s" value="{{fn('get_search_query')}}" id="s" placeholder="{{__('Search &hellip;', '<example-project>')}}" />
    <div class="input-group-button">
      <input type="submit" class="submit button" name="submit" id="searchsubmit" value="{{__('Search', '<example-project>')}}" />
    </div>
  </div>
</form>
