{# Variables #}
{% set slick    = slick|default({ infinite: false, dots: true, arrows: false }) %}
{% set width    = width|default(400) %}
{% set height   = height|default(300) %}
{% set crop     = crop|default(true) %}
{% set items    = items %}
{% set lightbox = lightbox|default(false) %}

{% if items|length %}
  <div
    class="slick
      {{slick.adaptiveHeight ? 'slick--adaptive-height'}}
      {{slick_class?:'slick--grid'}}
    "
    data-slick='{{fn('json_encode', slick)}}'
  >
  {% for item in items %}
    {# item can an image path/object or an object with: #}
    {# - item.classes #}
    {# - item.image #}
    {# - item.link #}
    {# - item.content #}

    <figure class="slick__slide {{item.classes|default('slick__slide--boxed overlay overlay--white')}}" style="display: none;">
      {% block slide %}
        {% set image = item.image ?: item %}
        {% set is_lightbox = lightbox and image.src %}
        {% set is_linked = item.link or is_lightbox %}
        {% set image = (image.src) ? image : TImage(image) %}

        {% if is_linked %}
          <a
            class="slick__link"
            href="{{lightbox ? image.src : item.link}}"
            {{lightbox ? 'data-rel="prettyPhoto"'}}
            data-category="Slideshow"
            data-action="Click Link"
            data-label="{{item.content|striptags|wptrim}}"
          >
        {% endif %}

        {% block slide__image %}
          {% if image.src %}
            <div class="slick__image">
              {{image.render(width, height, crop)}}
            </div>
          {% endif %}
        {% endblock %}

        {% block slide__content %}
          {% if item.content %}
            <figcaption class="slick__caption overlay__foreground">
              <div class="slick__caption-wrapper">
                <div class="slick__caption_content text-center">
                  <big>{{item.content}}</big>
                </div>
              </div>
            </figcaption>
          {% endif %}
        {% endblock %}

        {% if is_linked %}</a>{% endif %}
      {% endblock %}
    </figure>
  {% endfor %}
  </div>
{% endif %}
